<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table>
  <tbody>
    <% @products.each do |product| %>
      <tr class="<%= cycle('list_line_odd','list_line_even') %>">
        <td><%= image_tag(product.image_url, class: 'list_image') %></td>
        <td class="list_description">
          <dl>
            <dt><%= product.title %></dt>
            <dd><%= truncate(strip_tags(product.description),length: 15) %></dd>
          </dl>
        </td>
      <!--   <td><%= product.price %></td> -->
        <td class="list_actions">
        <%= link_to '見る', product %><br>
        <%= link_to '編集', edit_product_path(product) %><br>
        <%= link_to '削除', product, method: :delete, data: { confirm: '本当に消しますか?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
