<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Pragprog booksオンラインストア</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<div id="banner">
  <%= image_tag("logo.png") %>
  <%= @page_title || "Pragmatic Bookshelf" %>
</div>
<div id="columns">
  <div id="side">
  <p><%= @time %></p>
    <ul>
      <li><%= link_to 'ホーム', store_path %></li>
      <li><a href="http://www..../faq">よくある質問</a></li>
      <li><a href="http://www..../news">ニュース</a></li>
      <li><%= link_to '製品', products_path %></li>
      <li><a href="http://www..../contact">お問い合わせ</a></li>
      <%  if @cart %>
      <li><%= link_to 'カートを見る', cart_path(@cart) %></li>
      <% end %>
    </ul>
    <p><span class="red"><%= @counter %></span></p>
  </div>
  <div id="main"><%= yield %></div>
</div>
</body>
</html>
